<head>
    <link href="/styles/partials/footer.css" rel="stylesheet">
</head>
<footer>
    <div class="footerSubDiv">
        <h3>Our Githubs</h3>
        <div class="linkContainer">
            <a href="https://github.com/sabinMas">Mason Sabin</a>
            <a href="https://github.com/kacastillo">Kelley Castillo</a>
            <a href="">Jessica Hebert</a>
            <a href="https://github.com/AaronB22">Aaron Bailey</a>
        </div>
    </div>
    <div class="footerSubDiv">
        <h3>Our LinkedIns</h3>
        <div class="linkContainer">
            <a href="https://www.linkedin.com/in/mason-sabin/">Mason Sabin</a>
            <a href="https://www.linkedin.com/in/kelley-castillo-486b31234/"> Kelley Castillo</a>
            <a href="https://www.linkedin.com/in/jessica-hebert75/">Jessica Hebert</a>
            <a href="https://www.linkedin.com/in/aaron-bailey-2843303a4/">Aaron Bailey</a>
        </div>

    </div>
</footer>