<head>
    <link href="/styles/partials/navbar.css" rel="stylesheet">
    <script src="/js/partials/navbar.js" defer></script>
</head>
<body>
    <div class="navbar">

        <a class="navlink"  href="/" id="home">Home</a>
        <a class="navlink"  href="/upload" id='upload'>Upload</a>
        <a class="navlink"  href="/admin" id="admin">Admin</a>
        <a class="navlink"  href="/profile" id="profile">Profile</a>
        <% if(user.name!==" "||user.name){ %>
        <a class="navlink" id="user"><%=user.name%></a>
        <%}%>
        <% if(user.name==""||!user.name){%>
            <a class="navlink" href="/signup" id="signup">Sign Up!</a>
            <%}%>
    </div>
</body>