<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/upload.css">
    <title>Upload</title>
</head>
<body>
    <div id="topBar"><h1>Upload</h1></div>
    <main>
        <div id="imgBlock"></div>
        <form>
            <fieldset>
                <label> 
                    <p>Card Name:</p>
                    <input id="cardName" type="text">
                </label>
                <label> 
                    <p>Category:</p>
                    <select id="category">
                    </select>
                </label>
    
                <label>
                <p>Rating:</p>
    
                    <input id="rating" type="text">
                </label>
                <label>
                    <p>Stats:</p>
                    <input id="stats" type="text">
    
                </label>
                <label>
                    <p>
                    Price:
                    </p>
                    <input id="'price" type="text" value="Error Test">
                </label>
                <label>
                    <p>History:</p>
                    <textarea></textarea>
                </label>
            </fieldset>
        </form>

    </main>
</body>
</html>