main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:50px ;
    margin-left: 50px;
}
form{
    width: 66%;
    background-color: lightgray;
}
fieldset{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    
}
label{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;

}
input{
    width: 50%;
    height: 40px;
}
select{
    width: 50%;
    height: 40px;
}
p{
    width: 200px;
    text-align: center;
}
textbox{
    height: 80px;
    width: 200px;
}
#imgBlock{
    width: 33%;
    background-color: black;
    height: 300px;
}
#topBar{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}