main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:50px ;
    margin-left: 50px;
}
form{
    width: 66%;
    background-color: lightgray;
}
fieldset{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    
}
label{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;

}
.inputContanier{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputContanier span{
    margin-right: auto;
}
input{
    width: 50%;
    height: 40px;
}
select{
    width: 50%;
    height: 40px;
}
p{
    margin-top: auto;
    width: 200px;
    text-align: center;
    height: 50px;
}
textbox{
    height: 80px;
    width: 200px;
}
#imgBlock{
    width: 33%;
    background-color: black;
    height: 300px;
}
#topBar{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.err{
    color: red;
    text-align: center;
    margin-top: 10px;
}
