.navbar{
   font-size: 1.5rem;
   display: flex;
   justify-content: space-evenly;
   height: 100px;
   background-color: gainsboro;
      background-color: #e07840;
}

.navbar a{
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: black;
}